.home-container {
    text-align: center;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 88vh;
    color: white; 
    font-weight: bold;   
 }

  
  .home-container h2 {
    color: #01366b;
    font-weight: bold;
    padding-bottom: 40px;
  }

  .home-container h3 {
    transform: translateY(200px);
  }
  .nav-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #023a73;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .nav-button:hover {
    background-color: #0170bf;
  }
  